body{
    background:white;
    justify-content: center;
}
button{
    background: purple;
    border-radius: 9px;
    padding: 2px;
    color: bisque;
    border: 4px;
    font-size: 15px;

}
.hide {
    display: none;
  }

.score{
    float: left;
}

.timer{
    float: right;
}

.wrapper{
    width: 850px;
    align-content: center;
    
    
}